/* campaignsallinfo.css */


  .table {
    border-collapse: collapse;
    width: 90%;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden; /* Ensures the border radius clips the table content */
    box-shadow: 0 10px 35px rgba(0,0,0,0.15);
    position: relative;
    transition: all 0.3s ease;
    height: 80%;
    margin-bottom: 50px;
  }
  
  .table::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: -1;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    transition: all 0.4s ease-in-out;
  }
  
  .table:hover::after {
    transform: scale(1.05);
    background: linear-gradient(145deg, #c8d0e7, #d4dfeb);
  }
  
  thead {
    background-color: #007bff;
    color: #ffffff;
    text-align: left;
  }
  
  th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Adds a light border to each row */
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Zebra striping for rows */
  }
  
  tbody tr:hover {
    background-color: #ddd; /* Hover effect for rows */
  }
  
  th:first-child, td:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  th:last-child, td:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  /* campaignsallinfo.css */

.filter-input-container {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .filter-input {
    position: relative;
    width: 240px;
  }
  
  .filter-input input {
    padding-left: 2.5rem !important; /* Increase padding to make room for the icon */
  }
  
  .filter-input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #6c757d; /* Bootstrap's default icon color */
  }
  
  /* Add more styles here for animations, hover effects, etc. */
  .filter-input-container {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center; /* Centers the items horizontally */
    gap: 20px; /* Adjust the space between the inputs */
  }

  .table-responsivec{
    position: relative;
    width: 100vw;
    overflow: auto;
    height: 100%;
  }
  .campaignallinfobut{
    position:absolute;
    bottom: 50px;
    margin-right: -80%;
  } 
  