/* App.css */

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: backgroundMove 15s ease infinite;
  }
  
  .custom-form-container {
    padding: 40px;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }
  
  
  .custom-form-container {
  
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }
  
  .custom-text-field .MuiOutlinedInput-root {
    background: #f5f7fa;
    border-radius: 5px;
  }
  
  .custom-text-field .MuiInputLabel-root {
    color: #6c757d;
  }
  
  .custom-send-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 500;
  }
  
  .custom-send-button:hover, .custom-send-button:focus {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.5);
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .custom-form-container {
      margin: 20px;
      padding: 20px;
    }
  }
  